@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background: linear-gradient(103.8deg, rgba(92, 178, 176, 0.9) 0.82%, rgba(63, 82, 181, 0.9) 111.89%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: 38px;
}

.navbar {
    position : fixed;
    top : 0;
    left : 0;
    width: 100%;
    margin: 0;
    background: linear-gradient(153deg, rgba(8,147,144,1) 25%, rgba(63,81,181,1) 85%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 50px 10px 50px;
}

.navtext {
    font-size: 20px;
    /* font-family:  'Roboto', sans-serif; */
    color: #F1F1F1;
    margin-top: auto;
    margin-bottom: auto;
}


a:link{
    /* font-family:  'Roboto', sans-serif; */
    color: #F1F1F1;
    text-decoration: none;

}

a:visited {
    /* font-family:  'Roboto', sans-serif; */
    color: #F1F1F1;
    text-decoration: none;
}

.bdiv {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin: 20px 20px 20px;
    padding: 20px 30px 20px;
}

.elt {
    margin: 20px 50px 20px;
}